# Classification based on Screening Part3

In [1]:
import pandas
import glob

In [2]:
filelist=glob.glob("*.csv")

In [3]:
filelist

['MDS_UPDRS_Part_IV.csv',
 'MDS_UPDRS_Part_III__Post_Dose_.csv',
 'prodormal.csv',
 'heam_basline.csv',
 'PASE_-_Household_Activity.csv',
 'MDS_UPDRS_Part_II__Patient_Questionnaire.csv',
 'MDS_UPDRS_Part_I__Patient_Questionnaire.csv',
 'Biospecimen_Analysis_Results.csv',
 'controls.csv',
 'PDaffected.csv',
 'MDS_UPDRS_Part_I.csv',
 'TAP-PD_Kinetics_Device_Testing.csv',
 'swedds.csv',
 'Modified_Schwab_+_England_ADL.csv',
 'PASE_-_Leisure_Time_Activity.csv',
 'syn_basline.csv',
 'TAP-PD_OPDM_Assessment.csv']

In [148]:
patients=pandas.read_csv("PDaffected.csv")
controls=pandas.read_csv("controls.csv")
swedds=pandas.read_csv("swedds.csv")
prodormal=pandas.read_csv("prodormal.csv")
updrs1=pandas.read_csv("PASE_-_Leisure_Time_Activity.csv")

In [149]:
del patients['ENROLLDT']
del controls["ENROLLDT"]
del swedds["ENROLLDT"]
del prodormal["ENROLLDT"]

In [150]:
updrs1.head()

,REC_ID,F_STATUS,PATNO,EVENT_ID,PAG_NAME,QUESTNO,ACTVOFT,ACTVSPEC,HRDAYFRQ,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV
0,456171201,V,10874,BL,PASE,1,3,"reading, computer, TV",3,09/2014,2014-09-11 09:49:22.0,NaN,2014-09-11 09:49:33.0
1,456171301,V,10874,BL,PASE,2,3,NaN,2,09/2014,2014-09-11 09:49:22.0,NaN,2014-09-11 09:49:33.0
2,456171401,V,10874,BL,PASE,3,3,gardening,3,09/2014,2014-09-11 09:49:22.0,NaN,2014-09-11 09:49:33.0
3,456171501,V,10874,BL,PASE,4,0,NaN,NaN,09/2014,2014-09-11 09:49:22.0,NaN,2014-09-11 09:49:33.0
4,456171601,V,10874,BL,PASE,5,0,NaN,NaN,09/2014,2014-09-11 09:49:22.0,NaN,2014-09-11 09:49:33.0

In [151]:
updrs1["EVENT_ID"].value_counts()

V08    2982
V06    2652
V04    2100
V10    1860
BL     1800
V12     558
ST      102
V02      24
V03       6
V05       6
dtype: int64

In [152]:
scrupdrs1=updrs1[updrs1.EVENT_ID == "V11"]

In [153]:
scrupdrs1   # Is a subset containig only scr data

Empty DataFrame
Columns: [REC_ID, F_STATUS, PATNO, EVENT_ID, PAG_NAME, QUESTNO, ACTVOFT, ACTVSPEC, HRDAYFRQ, ORIG_ENTRY, LAST_UPDATE, QUERY, SITE_APRV]
Index: []

## Use set index function to set index as patient number

In [131]:
scrupdrs1 = scrupdrs1.set_index("PATNO")

In [132]:
dataindex=[int(i) for i in scrupdrs1.index]

In [133]:
p=[]
c=[]
s=[]
pro=[]
for i in patients["PATNO"]:
    p.append(int(i))
for  i in controls["PATNO"]:
    c.append(int(i))
for i in swedds["PATNO"]:
    s.append(int(i))
for i in prodormal["PATNO"]:
    pro.append(int(i))

In [134]:
for i in p:
    if i in dataindex:
        scrupdrs1.loc[i,"DIAG"] = "PD"

In [135]:
for i in c:
    if i in dataindex:
        scrupdrs1.loc[i,"DIAG"] = "HC"

In [136]:
for i in pro:
    if i in dataindex:
        scrupdrs1.loc[i,"DIAG"] = "ProDorm"

In [137]:
for i in s:
    if i in dataindex:
        scrupdrs1.loc[i,"DIAG"] = "Swedds"

In [138]:
scrupdrs1.head()

,REC_ID,F_STATUS,EVENT_ID,PAG_NAME,INFODT,OPDMCMPL,DEVICESN,DIGITOGR,PACKEYBD,PEGBRD,XFRYN,XFRDT,OPDMTM,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV,DIAG
PATNO,,,,,,,,,,,,,,,,,,
3404,493896101,V,V11,OPDM,01/2015,1,HVDG9341018,1,1,1,1,01/2015,10:59:00,01/2015,2015-01-13 07:05:46.0,NaN,01/2015,HC
3401,495040801,V,V11,OPDM,01/2015,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/2015,2015-01-16 06:00:01.0,NaN,01/2015,HC
3100,520753701,V,V11,OPDM,04/2015,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/2015,2015-05-05 14:01:25.0,NaN,05/2015,HC

In [139]:
del scrupdrs1["REC_ID"]
del scrupdrs1["F_STATUS"]
del scrupdrs1["EVENT_ID"]
#del scrupdrs1["PAG_NAME"]
del scrupdrs1["INFODT"]
del scrupdrs1["ORIG_ENTRY"]
del scrupdrs1["LAST_UPDATE"]
del scrupdrs1["QUERY"]
del scrupdrs1["SITE_APRV"]

In [140]:
del scrupdrs1["PAG_NAME"]

In [141]:
scrupdrs1.to_csv("visit11tap.csv")

In [105]:
# only for 3 updrs
scrupdrs1=scrupdrs1[scrupdrs1.PAG_NAME=="NUPDRS3"]

## Drops all the NaN in the data

In [161]:
scrupdrs1=scrupdrs1.dropna()

In [162]:
len(scrupdrs1)

25

In [25]:
c

[51200,
 40619,
 4100,
 4104,
 40620,
 4116,
 4118,
 52784,
 52580,
 53292,
 50184,
 50110,
 4105,
 54831,
 53308,
 53310,
 52783,
 53340,
 50328,
 51218,
 52787,
 52927,
 51330,
 52587,
 52511,
 52515,
 40922,
 51907,
 51227,
 50545,
 52634,
 41141,
 51392,
 50891,
 52517,
 50813,
 52518,
 52604,
 50557,
 51441,
 51445,
 51557,
 50132,
 4139,
 50220,
 53518,
 50222,
 51247,
 52512,
 52273,
 54663,
 52274,
 51504,
 52275,
 50228,
 52521,
 51519,
 41283,
 41284,
 41286,
 41290,
 41292,
 53999,
 41297,
 51538,
 41304,
 41307,
 41308,
 41309,
 41310,
 40520,
 52932,
 41338,
 53628,
 65006,
 53069,
 53639,
 50819,
 51607,
 51608,
 50751,
 41370,
 51611,
 52867,
 41381,
 41383,
 41385,
 52854,
 41403,
 41418,
 41424,
 40524,
 41442,
 51683,
 51684,
 51686,
 51687,
 40700,
 51690,
 41463,
 41471,
 41473,
 51714,
 51718,
 41494,
 51746,
 41509,
 41510,
 41512,
 41513,
 41523,
 41526,
 41529,
 42080,
 50143,
 42081,
 41544,
 50172,
 41554,
 50275,
 50689,
 41560,
 41562,
 41564,
 41566,
 51807,
 41573,
 50961,
 40529,
 53418,
 40724,
 41407,
 53019,
 40725,
 40726,
 50455,
 51866,
 51867,
 40732,
 52340,
 51912,
 51918,
 41705,
 53996,
 51513,
 52355,
 52006,
 42240,
 54916,
 50219,
 42121,
 53044,
 52362,
 51680,
 50572,
 42123,
 52037,
 51711,
 42124,
 53866,
 52607,
 52948,
 42126,
 50770,
 50009,
 51302,
 42131,
 53054,
 65002,
 42133,
 41970,
 65003,
 65004,
 42072,
 65005,
 50154,
 50670,
 54166,
 52506,
 50099,
 54198,
 3000,
 3004,
 3008,
 3009,
 3011,
 3013,
 3016,
 3029,
 52524,
 52353,
 52200,
 3053,
 3055,
 3057,
 52215,
 3064,
 41977,
 3069,
 3071,
 3072,
 3073,
 3074,
 3075,
 3085,
 3087,
 40451,
 51726,
 3100,
 3104,
 3106,
 3109,
 3112,
 3114,
 3115,
 50225,
 3151,
 3156,
 3157,
 52752,
 3160,
 3161,
 3165,
 3169,
 3171,
 3172,
 3188,
 3191,
 3200,
 3201,
 3206,
 42122,
 3213,
 3215,
 3216,
 3217,
 3219,
 3221,
 3222,
 3237,
 52414,
 52400,
 3257,
 42170,
 3260,
 3264,
 52768,
 3270,
 3271,
 3274,
 3276,
 3277,
 53113,
 52772,
 50397,
 52432,
 3300,
 3301,
 52454,
 3310,
 3316,
 3318,
 3320,
 41983,
 52780,
 54539,
 50451,
 3350,
 3351,
 3353,
 3355,
 3357,
 3358,
 3361,
 3362,
 3363,
 3368,
 3369,
 3370,
 3389,
 3390,
 52543,
 52546,
 51087,
 3401,
 3404,
 3405,
 3410,
 3411,
 3414,
 3424,
 3428,
 54262,
 3450,
 3452,
 3453,
 3457,
 3458,
 3460,
 3464,
 3466,
 3468,
 3478,
 3479,
 3480,
 3481,
 41988,
 40517,
 51782,
 40360,
 40519,
 3503,
 40521,
 3515,
 3517,
 3518,
 3519,
 3521,
 3523,
 3525,
 3526,
 3527,
 40525,
 3541,
 3543,
 3544,
 41990,
 3551,
 3554,
 3555,
 65000,
 54266,
 3563,
 3565,
 65008,
 3569,
 3570,
 3571,
 3572,
 42239,
 50379,
 3600,
 3611,
 3613,
 3614,
 3615,
 3619,
 3620,
 52278,
 3624,
 3627,
 3635,
 3636,
 3637,
 3651,
 3656,
 3658,
 3662,
 3668,
 52829,
 50788,
 40562,
 40567,
 4032,
 40579,
 52868,
 51134,
 40584,
 40587,
 40588,
 40590,
 40591,
 40564,
 40594,
 40596,
 40597,
 40598,
 40600,
 40601,
 40602,
 40604,
 40606,
 40609,
 40610,
 40611,
 40613,
 3750,
 3754,
 3756,
 3759,
 3765,
 3767,
 3768,
 3769,
 3772,
 3779,
 3794,
 3796,
 50462,
 40574,
 3803,
 3804,
 3805,
 3806,
 3807,
 3809,
 3811,
 3812,
 3813,
 3816,
 3817,
 40701,
 40568,
 3850,
 3851,
 3852,
 3853,
 3854,
 3855,
 3857,
 3859,
 53033,
 40758,
 40759,
 40761,
 53050,
 3901,
 51010,
 3907,
 3908,
 3917,
 52982,
 52850,
 50832,
 40803,
 40593,
 3950,
 3952,
 3955,
 3959,
 3965,
 3966,
 3967,
 3968,
 3969,
 52523,
 52373,
 51689,
 4004,
 4009,
 4010,
 4018,
 52791,
 50327,
 41978,
 4067,
 40614,
 4079,
 4085,
 40617,
 51540,
 4090,
 40618]